[server]
loglevel = info
logfile = logs/xtream_proxy.log

[xtream-remote]
server = http://remote-server:8080
user = someuser
pass = somepass
user-agent = UA-string

[whitelist]
Cars
Deporte
Sport
Espn

[blacklist]
Adult

[whitelist-category]
188
163
